BasedOnStyle: LLVM
IndentWidth: 4
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: false
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignTrailingComments: true